.Item {
  height: auto;
  width: 90vw;
  margin: 20px 5vw 40px;
}
.Item-image {
  height: 70%;
  min-height: 170px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.Description h3 {
  text-align: center;
  margin: 0px 0;
  color: #333;
  font-weight: 500;
}
.Description h5 {
  text-align: center;
  margin: 0;
  color: #333;
  font-weight: 500;
}